<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Down Scout</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/img/arrow-bottom-8x.png">
</head>

<body>
  <div class="wrapper">
    <header>
    <h1>
      <a href="/">Down Scout</a>
    </h1>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <button id="logout" class="btn-no-style">logout</button>

      {{else}}
      <a href="/login">login</a>
      {{/if }}
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <div>Thanks for visiting! Follow the project on GitHub. </div>
      <div class="line-break"></div>
      <a href="https://github.com/Hmndtyphn/Group-proj-2" target="_self"><img class="git-logo" src="/assets/img/GitHub-Mark-64px.png" height="44px" width="44px"></a>
    </footer>
  </div>

</body>

</html>