<section>
  <h2>Create New Favorite</h2>

  <form class="new-favorite-form">
    <div>
      <label for="title">Title</label>
      <input type="text" id="favorite-title" name="favorite-title" />
    </div>
    <div>
      <label for="fav-url">Link</label>
      <input id="fav-url" name="fav-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if favorites.length}}
<section>
  <h2>Your Favorites</h2>
  <table>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
    {{#each favorites as |favorite|}}
    <tr>
      {{> favorite-info favorite}}
      <td><a href="/dashboard/edit/{{favorite.id}}" class="edit-link">Edit favorite</a></td>
    </tr>
    {{/each}}
  </table>
</section>
{{/if}}

<script src="/javascript/add-fav.js"></script>