<section>
  <h2>Create New Favorite</h2>

  <form class="new-favorite-form">
    <div>
      <label for="favorite-title">Title</label>
      <input type="text" id="favorite-title" name="favorite-title" />
    </div>
    <div>
      <label for="fav-url">Link</label>
      <input id="fav-url" name="fav-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if favorites.length}}
<section>
  <h2>Your Favorites</h2>
  <ol>
    {{#each favorites as |favorites|}}
    <li>
      {{> favorite-info favorites}}
      <a href="/dashboard/edit/{{favorites.id}}" class="edit-link">Edit favorite</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-fav.js"></script>